
/*=========Slider Section ============*/
.text-right{
  position:absolute;
  top:50px;


}
.text-left{
  position:absolute;
  left:20px;
}
.carousel-item{
    height: 600px;
}
.carousel-image-1{
    background:linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.4));
    background-image:url('images/e.jpg');
    background-size: cover;
    height:800px;
}
.carousel-image-2{
    background:linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.4));
    background-image:url('images/r.jpg');
    background-size: cover;
    height:800px;
}
.carousel-image-3{
    background: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.4));
    background-image:url('images/p.jpg');
    background-size: cover;
    height:800px;
}
.h-color{
    color:white;

}
.btn-color{
    background: #1C90C9;
    color:#1C90C9 ;
}
.btn-color:hover{
    color: #F9C010
}

/* Wobble Vertical */
@-webkit-keyframes slide-btn {
    16.65% {
           transform: translateY(8px);
    }
    33.3% {
     transform: translateY(-6px);
    }
    49.95% {
        transform: translateY(4px);
    }
    66.6% {
         transform: translateY(-2px);
    }
    83.25% {
         transform: translateY(1px);
    }
    100% {
        transform: translateY(0);
    }
  }
  @keyframes slide-btn {
    16.65% {
      
      transform: translateY(8px);
    }
    33.3% {
      
      transform: translateY(-6px);
    }
    49.95% {
      
      transform: translateY(4px);
    }
    66.6% {
     
      transform: translateY(-2px);
    }
    83.25% {
     
      transform: translateY(1px);
    }
    100% {
     
      transform: translateY(0);
    }
  }
  .slide-btn {
    display: inline-block;
    vertical-align: middle;
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  }
  .slide-btn:hover, .slide-btn:focus, .slide-btn:active {
    
    animation-name: slide-btn;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
  }
  /*=========End of Slider=====*/
  