* {
  margin: 0;
  padding: 0;
  font-family: 'Acme' ,sans-serif;
}
.showa .uppage{
	margin-bottom: 40px;
	background-image: linear-gradient( #F9C010 , #0C84C5);
	padding: 60px;
}

.showa h1{
	/*text-align: center;*/
	color: white;
	font-size:50px;
	position:absolute;
	left:40px;
	margin-right: 200px;

}
.showa p{
  text-align: justify;
}



.showa span{
	margin-left: 50px;
	margin-bottom: 100px;
}



.showa #showroom{
	
	width: 750px;
	position:absolute;
	left:500px;

}


.showa #desc{
	
	width: 800px;
	position:absolute;
	left:30px;
}