* {
  margin: 0;
  padding: 0;
  font-family: 'Acme' ,sans-serif;
}

.carousel-item {
  height: 100vh;
}



.img-box {
  width: 850px;
  position: absolute;
  left:-160px;
  top:130px;
}

.pic-one {
  width: 100%;
}
/*.pic-two {
  width: 100px;
  position: absolute;
  left: 15px;
  bottom: 20px;
}

.pic-three {
  width: 75px;
  position: absolute;
  left: 150px;
  bottom: 70px;
}

.pic-four {
  width: 160px;
  position: absolute;
  right: 40px;
  top: 110px;
}

.pic-five {
  width: 110px;
  position: absolute;
  right: 20px;
  bottom: 0px;
}

.pic-six {
  width: 160px;
  position: absolute;
  right: 160px;
  bottom: 35px;
}*/



.carousel-item .row {
  margin: 12% 0;
}

.carousel-item h1 {
  margin-top: 40px;
  font-weight: bold;
  color: #fff;
  font-size: 90px;

  
}

.carousel-item p {
  margin: 30px 0 50px;
  font-size: 23px;
  color: #fff;
}
.carousel-item button {
  padding: 8px 20px;
  background: #0c5ce3;
  border: 0;
  outline: none;
  border-radius: 20px;
  color: #3AA4CE;
  font-size: 33px;
}


.slide-three {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  color: white;
  
  background:linear-gradient(-45deg, #F9C010, yellow, #46AED2, #00649F  );
  background-size: 400% 400%;
  -webkit-animation: Gradient 15s ease infinite;
  -moz-animation: Gradient 15s ease infinite;
  animation: Gradient 15s ease infinite;
}


.slide-two {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  color: white;
  
  background:linear-gradient(-45deg, #F9C010, yellow, #46AED2, #00649F  );
  background-size: 400% 400%;
  -webkit-animation: Gradient 15s ease infinite;
  -moz-animation: Gradient 15s ease infinite;
  animation: Gradient 15s ease infinite;
}


.slide-one {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  color: white;
  
  background:linear-gradient(-45deg, #F9C010, yellow, #46AED2, #00649F  );
  background-size: 400% 400%;
  -webkit-animation: Gradient 15s ease infinite;
  -moz-animation: Gradient 15s ease infinite;
  animation: Gradient 15s ease infinite;
}
.slide-three h1,
.slide-three p {
  color: #feb154;
}

.slide-two h1,
.slide-two p {
  color: #feb154;
}



.slide-one h1,
.slide-one p {
  color: #feb154;
}

.img-one {
  width: 100%;
}

/*.img-two {
  width: 200px;
  position: absolute;
  left: 0;
  bottom: 20px;
}

.img-three {
  width: 70px;
  position: absolute;
  left: 245px;
  bottom: 55px;
}

.img-four {
  width: 60px;
  position: absolute;
  right: 155px;
  bottom: 95px;
}

.img-five {
  width: 100px;
  position: absolute;
  right: 50px;
  bottom: 20px;
}

/*.img-six {
    width: 70px;
    position: absolute;
    left: 245px;
    bottom: 55px;
  }*/

.slide-one button {
  background: linear-gradient(to right, #feb154, #ffd255);
}
.slide-two button {
  background: linear-gradient(to right, #feb154, #ffd255);
}
.slide-three button {
  background: linear-gradient(to right, #feb154, #ffd255);
}


@-webkit-keyframes Gradient {
  0% {
    background-position: 0% 50%
  }
  50% {
    background-position: 100% 50%
  }
  100% {
    background-position: 0% 50%
  }
}

@-moz-keyframes Gradient {
  0% {
    background-position: 0% 50%
  }
  50% {
    background-position: 100% 50%
  }
  100% {
    background-position: 0% 50%
  }
}

@keyframes Gradient {
  0% {
    background-position: 0% 50%
  }
  50% {
    background-position: 100% 50%
  }
  100% {
    background-position: 0% 50%
  }
}
